<!DOCTYPE html>
<html>
  <head>
    <title>login to NamazuApp</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <a href="/auth/twitter">Sign in with Twitter</a>
  </body>
</html>
