<!DOCTYPE html>
<html>
  <head>
    <title><%= session.user.name %>'s page</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <p>Hello, <%= session.user.name %>!</p>
    <img src="<%= session.user.profile_image_url %>" >
    <p>Your Twitter ID : <%= session.user.screen_name %></p>
    <a href="/tweet">test tweet</a>
  </body>
</html>

